<!--
- Autor: Hugo Martín Alonso
- Fecha: 12-10-2025
- Descripción: Componente reutilizable del footer de la aplicación web.
-->

<footer>
    <hr>
    <p>&copy; {{current_year}} Plataforma de Tramitación Telefónica Interna - Proyecto Universitario </p>
    <p>Versión: {{config.APP_VERSION}} | Última actualización: {{current_date}}</p>
    <p>Soporte: soporte@tramitestelefonicos.es | Tel. XXXXXXXXX</p>
</footer>