<!--
- Autor: Hugo Martín Alonso
- Fecha: 12-10-2025
- Descripción: Componente reutilizable del header de la aplicación web.
-->

<header>
    <a href="{{url_for('inicio.start')}}" class="logo">
        <img src="{{url_for('static', filename='img/logo.png')}}" alt="Logo">
        <div id="app-nombre">
            <h1>Portal de Trámites Telefónicos</h1>
            <p>Sistema Simulado de la Administración Pública</p>
        </div>
    </a>

    {%if current_user.is_authenticated%}
    <a href="{{url_for('dashboard.perfil', username=current_user.username)}}" class="user-logged">
        <div class="perfil">
            <img src="{{url_for('uploads.fotoPerfil', filename=current_user.fotoPerfil)}}" alt="Foto de perfil del usuario" />
            <div id="perfil-titulo">
                <p id="perfil-nombre">{{current_user.nombre}} {{current_user.apellido1}}</p>
                <p id="perfil-rol">{{current_user.rol.valor}}</p>
            </div>
        </div>
    </a>
    {%endif%}
</header>