# Archivos de compilación de LaTeX
*.aux
*.lof
*.log
*.lot
*.out
*.toc
*.xmpi
*.fdb_latexmk
*.fls
*.synctex.gz
documents/build/

#Archivos compilados por python automáticamente
**/__pycache__/
*.pyc

# Entornos virtuales y configuraciones con claves secretas y tokens
.venv/
.env

#De momento no subo al git el modelo vosk
scripts_aux/services/models/vosk*
scripts_aux/services/keys