<!-- 
- Autor: Hugo Martín Alonso
- Fecha: 20-10-2025
- Descripción: componente con la información específica del trámite de solicitar una cita en la AEAT. 
-->

<div class="detalles-titulo">
    {%if peticion%}
    <h2>Información</h2>
    {%else%}
    <h2>Introduce los Datos</h2>
    {%endif%}
</div>
<div class="detalles-contenido">
    <div id="contenido-col1">
        <label for="cita-aeat-dni">DNI*:</label>
        <input type="text" id="cita-aeat-dni" name="dni" {%if peticion%}value="{{peticion.informacion.dni}}" {%if peticion and (peticion.estadoActual.valor != "Asignada")%}readonly{%endif%}{%endif%} required pattern="^\d{8}\w{1}$">
        <label for="cita-aeat-nombre">Nombre*:</label>
        <input type="text" id="cita-aeat-nombre" name="nombre" {%if peticion%}value="{{peticion.informacion.nombre}}" {%if peticion and (peticion.estadoActual.valor != "Asignada")%}readonly{%endif%}{%endif%} required>
        <label for="cita-aeat-servicio">Servicio*:</label>
        <select id="cita-aeat-servicio" name="servicio" {%if peticion and (peticion.estadoActual.valor != "Asignada")%}disabled{%endif%} required>
            <option value="" disabled {%if not peticion%}selected{%endif%}>--Selecciona Servicio--</option>
            {%for s in servicios_aeat%}
            <option value="{{s.servicio}}" data-llamada="{{s.llamada}}" {%if peticion and peticion.informacion.servicio == s.servicio %}selected{%endif%}>{{s.servicio}}</option>
            {%endfor%}
        </select>
    </div>
    <div id="contenido-col2">
        <label for="cita-aeat-modalidad">Modalidad*:</label>
        <button id="cita-aeat-modalidad" type="button" data-modalidad="{% if peticion and peticion.informacion.modalidad == 'telefonica' %}telefonica{% else %}presencial{% endif %}" data-asignada="{{peticion and peticion.estadoActual.valor == 'Asignada'}}" {%if peticion and (peticion.estadoActual.valor != "Asignada")%}disabled{%endif%}>
            <iconify-icon {%if peticion and peticion.informacion.modalidad == 'presencial'%}icon="raphael:employee"{%else%}icon="tabler:phone"{%endif%}></iconify-icon>
            <p>{%if peticion and peticion.informacion.modalidad == 'presencial'%}Presencial{%else%}Telefónica{%endif%}</p>
            <input type="hidden" id="cita-aeat-modalidad-hidden" name="modalidad" value="{% if peticion %}{{peticion.informacion.modalidad}}{% else %}telefonica{% endif %}">
        </button>
        <label id="cita-aeat-label-oficina" for="cita-aeat-oficina">Oficina*:</label>
        <div id="cita-aeat-oficina">
            <iconify-icon icon="streamline-plump:building-office-remix"></iconify-icon>
            <select id="cita-aeat-campo-oficina" name="oficina" {%if peticion and (peticion.estadoActual.valor != "Asignada")%}disabled{%endif%} required>
                <option value="" disabled {%if not peticion or peticion.informacion.modalidad == "telefonica"%}selected{%endif%}>--Selecciona Oficina--</option>
                {%for o in oficinas_aeat_vall%}
                <option value="{{o.oficina}}" {%if peticion and peticion.informacion.oficina == o.oficina %}selected{%endif%}>{{o.oficina}}</option>
                {%endfor%}
            </select>
        </div>
        <label id="cita-aeat-label-fecha" for="cita-aeat-fecha">Fecha*:</label>
        <div id="cita-aeat-fecha">
            <iconify-icon icon="mdi:calendar-clock-outline"></iconify-icon>
            <input type="date" id="cita-aeat-dia" name="dia" min="{{current_date[6:10]}}-{{current_date[3:5]}}-{{current_date[0:2]}}" {%if peticion%}value="{{peticion.informacion.dia}}" {%if peticion and (peticion.estadoActual.valor != "Asignada")%}readonly{%endif%}{%endif%} required>
            <iconify-icon icon="tabler:clock-hour-2"></iconify-icon>
            <input type="time" id="cita-aeat-hora" name="hora" min="09:00" max="13:00" step="1800" {%if peticion%}value="{{peticion.informacion.hora}}" {%if peticion and (peticion.estadoActual.valor != "Asignada")%}readonly{%endif%}{%endif%} required>
        </div>
    </div>

</div>