<!-- 
- Autor: Hugo Martín Alonso
- Fecha: 27-11-2025
- Descripción: componente con la información específica del trámite de solicitar la tarjeta sanitaria de SACYL por pérdida o deterioro. 
-->

<div class="detalles-titulo">
    {%if peticion%}
    <h2>Información</h2>
    {%else%}
    <h2>Introduce los Datos</h2>
    {%endif%}
</div>
<div class="detalles-contenido">
    <div class="contenido-col1">
        <label for="tarjeta-sanitaria-nombre">Nombre*:</label>
        <input type="text" id="tarjeta-sanitaria-nombre" name="nombre" {%if peticion%}value="{{peticion.informacion.nombre}}"  {%if (peticion.estadoActual.valor != "Asignada")%}readonly{%endif%}{%endif%} required>
        <label for="tarjeta-sanitaria-apellidos">Primer Apellido*:</label>
        <input type="text" id="tarjeta-sanitaria-apellidos" name="apellido1" {%if peticion%}value="{{peticion.informacion.apellido1}}"  {%if (peticion.estadoActual.valor != "Asignada")%}readonly{%endif%}{%endif%} required>
        <label for="tarjeta-sanitaria-nacimiento">Fecha de Nacimiento*:</label>
        <input type="date" id="tarjeta-sanitaria-nacimiento" name="nacimiento" max="{{current_date[6:10]}}-{{current_date[3:5]}}-{{current_date[0:2]}}" {%if peticion%}value="{{peticion.informacion.nacimiento}}"  {%if (peticion.estadoActual.valor != "Asignada")%}readonly{%endif%}{%endif%} required>
        <label for="tarjeta-sanitaria-motivo">Motivo de la solicitud*:</label>
        <div id="tarjeta-sanitaria-motivo">
            <div>
                <label for="tarjeta-sanitaria-motivo-perdida">Pérdida</label>
                <input type="radio" id="tarjeta-sanitaria-motivo-perdida" name="motivo" value="perdida" {%if peticion and peticion.informacion.motivo == 'perdida'%}checked{%endif%} {%if peticion and (peticion.estadoActual.valor != "Asignada")%}disabled{%endif%} required>
            </div>
            <div>
                <label for="tarjeta-sanitaria-motivo-deterioro">Deterioro</label>
                <input type="radio" id="tarjeta-sanitaria-motivo-deterioro" name="motivo" value="deterioro" {%if peticion and peticion.informacion.motivo == 'deterioro'%}checked{%endif%} {%if peticion and (peticion.estadoActual.valor != "Asignada")%}disabled{%endif%} required>
            </div>
        </div>
    </div>
    <div class="contenido-col2">
        <label for="tarjeta-sanitaria-localidad">Localidad*:</label>
        <select id="tarjeta-sanitaria-localidad" name="localidad" {%if peticion and (peticion.estadoActual.valor != "Asignada")%}disabled{%endif%} required>
            <option value="" disabled {%if not peticion%}selected{%endif%}>--Selecciona Localidad--</option>
            {%for m in municipios_vall%}
            <option value="{{m.localidad}}" {%if peticion and peticion.informacion.localidad == m.localidad %}selected{%endif%}>{{m.localidad}}</option>
            {%endfor%}
        </select>

        <label for="tarjeta-sanitaria-centro-salud">Centro de Salud*:</label>
        <select id="tarjeta-sanitaria-centro-salud" name="centro_salud" {%if peticion and (peticion.estadoActual.valor != "Asignada")%}disabled{%endif%} required>
            <option value="" disabled {%if not peticion%}selected{%endif%}>--Selecciona Centro de Salud--</option>
            {%for c in centros_salud_vall%}
            <option value="{{c.centro_salud}}" {%if peticion and peticion.informacion.centro_salud == c.centro_salud %}selected{%endif%}>{{c.centro_salud}}</option>
            {%endfor%}
        </select>

        <label for="tarjeta-sanitaria-calle">Calle*:</label>
        <input type="text" id="tarjeta-sanitaria-calle" name="calle" {%if peticion%}value="{{peticion.informacion.calle}}"  {%if (peticion.estadoActual.valor != "Asignada")%}readonly{%endif%}{%endif%} required>
        <div id="tarjeta-sanitaria-direccion">
            <label for="tarjeta-sanitaria-numero">Nº*:</label>
            <input type="number" id="tarjeta-sanitaria-numero" name="numero" min="0" {%if peticion%}value="{{peticion.informacion.numero}}"  {%if (peticion.estadoActual.valor != "Asignada")%}readonly{%endif%}{%endif%} required>
            <label for="tarjeta-sanitaria-piso">Piso:</label>
            <input type="number" id="tarjeta-sanitaria-piso" name="piso" min="0" {%if peticion%}value="{{peticion.informacion.piso}}"  {%if (peticion.estadoActual.valor != "Asignada")%}readonly{%endif%}{%endif%}>
            <label for="tarjeta-sanitaria-puerta">Pta.:</label>
            <input type="text" id="tarjeta-sanitaria-puerta" name="puerta" {%if peticion%}value="{{peticion.informacion.puerta}}"  {%if (peticion.estadoActual.valor != "Asignada")%}readonly{%endif%}{%endif%}>
        </div>
    </div> 
</div>