<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Login</title>
        <link rel="stylesheet" href="/static/css/style.css ">
    </head>
    <body>
        <div id="header"></div>

        <main id="login-page">
            <div class="card", id="login-card">
                <h1>Identificación de Empleado</h1>
                <form class="form", id="login-form" action="/login" method="post">
                    <input type="text" name="username" placeholder="Usuario" required>
                    <input type="password" name="password" placeholder="Contraseña" required>
                    <button type="submit">Iniciar Sesión</button>
                </form>
            </div>
        </main>
        
        <div id="footer"></div>
        
        <script src="/static/js/login.js"></script>
        <script src="/static/js/loadLayout.js"></script>
    </body>
</html>