<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/static/css/style.css ">
</head>
<body>
    <div class="login-container">
        <h1>Iniciar Sesión</h1>
        <form id="login-form" action="/login" method="post">
            <input type="text" name="username" placeholder="Usuario" required>
            <input type="password" name="password" placeholder="Contraseña" required>
            <button type="submit">Login</button>
        </form>
    </div>
    
    <script src="/static/js/login.js"></script>
</body>
</html>