<div class="menu">
    <a href="{{url_for('peticiones')}}" id="menu-peticiones">
        <iconify-icon icon="material-symbols:list-rounded"> </iconify-icon>
        <span>Peticiones</span>
    </a>
    <a href="{{url_for('empleados')}}" id="menu-empleados">
        <iconify-icon icon="mdi:people"> </iconify-icon>
        <span>Empleados</span>
    </a>
    <a href="{{url_for('estadisticas')}}" id="menu-estadisticas">
        <iconify-icon icon="bx:stats"> </iconify-icon>
        <span>Estadísticas</span>
    </a>
</div>