<!--
- Autor: Hugo Martín Alonso
- Fecha: 07-06-2025
- Descripción: Vista con estadísticas generales de la aplicacíon.
-->

{%extends "layout.jinja"%}

{%block title%}Estadísticas{%endblock%}


{%block body%}
    {%include "components/menu.jinja"%}
    <main>
        {%include "error/501.jinja"%} <!-- Página en construcción -->
    </main>
{%endblock%}