<!--
- Autor: Hugo Martín Alonso
- Fecha: 25-09-2025
- Descripción: Vista del login.
-->

{%extends "layout.jinja"%}

{%block title%}Acceso{%endblock%}

{%block css%}
<link rel="stylesheet" href="{{url_for('static', filename='css/login.css')}}">
{%endblock%}

{%block body%}
<main id="login-page">
    <div id="login-card">
        <h1>Identificación de Empleado</h1>
        <form id="login-form" method="post">
            <input type="text" id="login-username" name="username" placeholder="Usuario / Correo Electrónico" required autocomplete="username email">

            <div class="login-password-input">
                <input type="password" id="login-password" name="password" placeholder="Contraseña" required autocomplete="current-password">
                <button type="button" id="button-password"><iconify-icon icon="famicons:eye-off-outline"></iconify-icon></button>
            </div>
            
            {% with messages = get_flashed_messages(with_categories=False, category_filter="error") %}
                {% if messages %}
                <div class="mensaje-error">
                    {% for message in messages %}
                    <p> {{message}} </p>
                    {% endfor %}
                </div>
                {% endif %}
            {% endwith %}

            <button id="login-button" type="submit" disabled>Iniciar Sesión</button>
        </form>
    </div>
</main>
{%endblock%}

{%block js%}
<script src="{{url_for('static', filename='js/login.js')}}"></script>
{%endblock%}