<!--
- Autor: Hugo Martín Alonso
- Fecha: 07-06-2025
- Descripción: vista resumen con la información de una petición concreta.
-->

{%extends "layout.jinja"%}

{%block title%}Petición #{{peticion.id}}{%endblock%}

{%block css%}
<link rel="stylesheet" href="{{url_for('static', filename='css/peticiones.css')}}">
{%endblock%}

{%block body%}
<main id="peticion-page">
    <div id="peticion-cabecera">
        <div id="peticion-identificador">
            <a href="{{url_for('dashboard.peticiones')}}"><iconify-icon icon="famicons:chevron-back-outline"></iconify-icon></a>
            <div id="peticion-titulo">
                <h1>Petición #{{ peticion.id }}, {{peticion.tramite.valor}}</h1>
                <p>Teléfono: {{peticion.telefono}}</p>
            </div>
        </div>
        {%if 'asignar_peticion' in session.permisos and not(peticion.idEmpleadoAsignado) and (peticion.estadoActual.valor == "Pendiente")%}
        <form method="post"><button type="submit" id="peticion-asignacion" name="asignar">Asignar</button></form>
        {%endif%}
        {%if peticion.idEmpleadoAsignado == current_user.id%}
        <form method="post"><button type="submit" id="peticion-desasignacion" name="desasignar">Desasignar</button></form>
        {%endif%}
        
    </div>
    <div id="peticion-contenido">
        <ul id="peticion-timeline">
            {%for hito in historial %}
            <li id="timeline-item">
                <div id="timeline-time">
                    <p id="timeline-fecha">{{ hito.updated_at.strftime('%d %B %Y') }}</p>
                    <p id="timeline-hora">{{ hito.updated_at.strftime('%H:%M:%S') }}</p>
                </div>

                {%if hito.empleadoEditor %}
                    <img id="timeline-icon" src="{{url_for('uploads.fotoPerfil', filename=hito.empleadoEditor.fotoPerfil)}}" alt="Foto de perfil del usuario" />
                {%else%}
                    <iconify-icon id="timeline-icon" icon="{{hito.estado.icono}}" style="color: {{hito.estado.color}};"></iconify-icon>
                {%endif%}

                <div id="timeline-info">
                    <h3 id="timeline-estado">{{ hito.estado.valor }}</h3>

                    {%if hito.empleadoEditor %}
                        <p id="timeline-user">{{hito.empleadoEditor.nombre}} {{hito.empleadoEditor.apellido1}}</p>
                    {%endif%}                  
                </div>
   
            </li>
            {%endfor%}
        </ul>

        <div id="peticion-resumen">
            <form method="post">
                <div id="peticion-detalles">
                    {%include "components/tramites/" ~ peticion.idTramite ~ ".jinja" %}
                    {%if (peticion.estadoActual.valor == "Asignada")%}
                    <div class="nota"><strong>Nota:</strong> Todos los campos con asterisco (*) deben ser completados.</div>
                    {%endif%}
                </div>
                {%if (peticion.estadoActual.valor == "Asignada")%}
                <div class="botones">
                    <button type="submit" id="peticion-cancelar" name="cancelar" formnovalidate>Cancelar</button>
                    <button type="submit" id="peticion-actualizar" name="actualizar">Actualizar</button>
                    <button type="submit" id="peticion-completar" name="completar">Completar</button>
                </div>
                {%endif%}
            </form>
        </div>
    </div>
</main>
{%endblock%}

{%block js%}
<script src='{{url_for("static", filename="js/sumaryPeticion.js")}}'></script>
{%endblock%}